* {
    background-color: teal;
}
img.course {
    height: 250px;
    width: 250px;
}
link:hover {
    color: orangered;
}
link:visited {
    color: purple;
}
h1 {
    color: salmon;
}
img.me {
    height: 450px;
    width: 300px;
}